PORT=5000
JWT_SECRET=your_jwt_secret_key

# ==========================================
# DATABASE CONFIGURATION
# ==========================================
POSTGRES_HOST=192.168.18.55
POSTGRES_PORT=5432
POSTGRES_USER=ahmadfauzaan
POSTGRES_PASSWORD=xxxxxxxx
POSTGRES_DB=xxxxxxxxx

# Connection URL for migration tool (node-pg-migrate)
DATABASE_URL=postgres://ahmadfauzaan:xxxxxxxxxxx@192.168.18.55:5432/portfolio_backend
